/* GENERAL*/

@font-face {
 	font-family: Beaufort;
 	src: url("../fonts/Beaufort.ttf");     
}

* {
	font-family : Beaufort;
}

p {
	margin: 3px;
}

html{
	height: 100%;
	width : 100%;
    margin: 0;
}

body{
	background-color: #36393f;
	margin: 0; 
	height: 100%; 
	color: #c0c0c0;
	text-shadow: 2px 1px 2px #000;
	overflow: scroll;
    overflow-x: hidden;
}

.global_container{
	margin:1% 3%;
}

@media screen and (max-width: 410px){
    h1 {
		font-size: 1.5em;
	}
}

#filtre_button{
	margin: 20px 0px 0px;
	width: 100%;
}

#filtre_button button{
	float:right;
}

#championFilter{
	width: 30%;
	float: left;
}

#ultimate_bravery{
	display: flex;
  	flex-direction: column;
  	align-items: center;
}

#champion_selector{
	overflow: scroll;
  	height: 200px;
	width: 100%;
  	overflow-x: hidden;
	margin: 0px 0px 25px;
}

.champion_container{
	margin : 2px;
	float: left;
	opacity: 1;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
	-webkit-user-drag: none;
}

.champion_notowned{
	opacity: 0.25;
}

.champion_container > img {
	height: 50px;
}

#parametre_container {
	margin : 20px;
	display: flex;
    align-items: center;
}

#map_active{
	background-color: gray;
	border-style: inset;
}

#difficulte_container{
	margin : 0px 20px;
	width  : 200px;
}

#difficulte_number{
	float: right;
}

#difficulte_slider{
	width:100%;
}

#start_bravery{
	width: max(10%,50px);;
    font-size: 1.3em;
    border-radius: 20px;
    box-shadow: 2px 3px 4px 2px black;
}

#ub_result_container img {
	width: 100%;
}

/* LOGS */

#logs{
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
	overflow: scroll;
	height: 900px;
    overflow-x: hidden;
}

.log_ip{
	color:red;
}

.log_path img {
	position: absolute;
	height: 500px;
	top : 30px;
	right: 100px;
}

@media screen and (max-width: 1250px){
    .log_path img {
		height: 300px;
		left: 0px;
	}
}

.log_path img{
	display: none;
}

.log_path:hover img{
	display: block;
}

/* SCROLL BAR */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2e3338; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #202225; 
  border-radius: 10px;
}