{% extends "ultimateBase.html" %}

{% block content %}

	<script type="text/javascript" src="../static/js/logs.js"></script>

	<button id="log_reset" onclick="resetLogs()">Reset Logs</button>

	<div id="log_container">

		<div id="logs">
			{% for log in logs %}
				<div>
					<span class="log_date">{{ log.date }}</span>
					<span class="log_ip">{{ log.ip }}</span>
					<a class="log_path" href="{{ log.path }}">
						<span>{{ log.path }}</span>
						<img src="{{ log.path }}">
					</a>
				</div>
			{% endfor %}
		</div>

	</div>

{% endblock %}